/* Basic config ----------------------------------------------------------
---------------------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

/* Nav config ----------------------------------------------------------
---------------------------------------------------------------------------*/

.nav {
    width: 1400px;
    background-color:#000000;
}

.nav-logobox {
    display: inline-block;
    margin: 20px 0px 19px 110px;
}
.nav-logotext {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
}

.startlogo {
    color: #ffffff;
}

.endlogo {
    color: #EC7979;
}

.nav-textbox {
    display: inline-block;
    margin: 25px 60px 25px 625px;
    font-family: Open Sans, Semibold, sans-serif;
    font-size: 15px;
    color: #ffffff;
}
.nav-text {
    display: inline-block;
    padding-right: 48px;
}

/* Header config ----------------------------------------------------------
---------------------------------------------------------------------------*/

.header {
    display: inline-block;
    width: 1400px;
    height: 600px;
    background-image: url(../img/background-1\ 1.png);
}

.headersecleft {
    background-color: darkred;
    display: inline-block;
    padding-top: 108px;
    margin-left: 110px;
    margin-right: 265px;
}

.header-title {
    background-color: blueviolet;
    margin-bottom: 32px;
    font-family: 'Roboto', Normal, sans-serif;
    font-size: 60px;
    text-transform: uppercase;
}

.header-subtitle {
    background-color: chocolate;
    margin-bottom: 32px;
    font-family: 'Raleway', Normal, sans-serif;
    font-size: 36px;
    color: #ffffff;
    text-transform: uppercase;
}

.header-line {
    width: 64px;
    margin-bottom: 39px;
    border: 1px solid #FFFFFF;
}

.header-text {
    background-color: darkcyan;
    margin-bottom: 39px;
    font-family: 'Raleway', Light, sans-serif;
    font-size: 16px;
    color: #ffffff;
}

.button {
    margin-bottom: 101px;
    width: 135px;
    height:42px;
    border-color:#ffffff;
    border-style: solid;
    border-width: 1px;
    background: transparent;
    font-family: Open Sans, Semibold, sans-serif;
    font-size: 15px;
    color: #FFFFFF;
}

.headersecrigt {
    background-color: aquamarine;
    display: inline-block;
  
}

.freetrial {
    width: 370px;
    height: 370px;
    background-color: #FFFFFF;
    border-radius: 8px;
    
}